html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: table;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 2% 0;
  vertical-align: middle;
  display: table-cell;
}
.title {
  font-size: 2em;
  letter-spacing: .08em;
  margin: .1em 0 .3em;
}
#explanation {
  font-size: 1em;
  color: #888888;
  letter-spacing: .1em;
  max-width: 350px;
  margin: .5em 0 1em;
}
a{
  text-decoration: none;
}
#ramen {
  width: 120px;
  height: 120px;
}
